.vehicle {
    border: 2px solid black;
    width: 100px;
    height: 35px;
    position: fixed;
}

.car {
    background-color: red;
}

.copcar {
    background-color: blue;
}

.motorcycle {
    background-color: black;
}

.tank {
    background-color: green;
}